<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logintest.logintest.mapper.MemberMapper">
    <resultMap id="memberMap" type="com.logintest.logintest.domain.Member">
        <id property="id" column="login_id"></id>
        <result property="password" column="password"></result>
        <result property="name" column="name"></result>
        <result property="old" column="old"></result>
        <result property="gender" column="gender"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="email" column="email"></result>
        <result property="memberType" column="member_type"></result>
        <result property="address" column="address"></result>
        <result property="isActive" column="is_active"></result>
        <collection property="authority" ofType="string">
            <result column="authority"></result>
        </collection>
    </resultMap>
</mapper>